<template>
   <div>
      <h1>List</h1>
      <div class="col">
         <select ref="select" class="right" v-model="filter">
            <option value="0" disabled selected>Choose your option</option>
            <option value="active">Active</option>
            <option value="outdated">Outdated</option>
            <option value="completed">Completed</option>
         </select>
         <div class="mb-30"></div>
         <button class="btn btn-small right mb-30" @click="filter = null">Clear filter</button>
      </div>

      <table v-if="tasks.length">
         <thead>
            <tr>
               <th>№</th>
               <th>Title</th>
               <th>Date</th>
               <th>Description</th>
               <th>Status</th>
               <th>Open</th>
            </tr>
         </thead>
         <tbody>
            <tr v-for="(task, idx) of displayTasks" :key="task.id">
               <td>{{idx + 1}})</td>
               <td>{{task.title}} </td>
               <td>{{new Date(task.date).toLocaleDateString()}}</td>
               <td>
                  <div class="text-limited">
                     {{task.description}}
                  </div>
               </td>
               <td>{{task.status}} </td>
               <td>
                  <router-link tag="button" class="btn btn-small" :to="'/task/' + task.id">Open</router-link>
               </td>
            </tr>
         </tbody>
      </table>
      <p v-else>No tasks...</p>
   </div>
</template>

<script>
   export default {
      data: () => ({
         filter: null,
      }),
      computed: {
         tasks() {
            return this.$store.getters.tasks
         },
         displayTasks(){
            return this.tasks.filter(t => {
               if (!this.filter) {
                  return true
               }
               return t.status === this.filter
            })
         }
      },
      mounted() {
         // eslint-disable-next-line no-undef
         M.FormSelect.init(this.$refs.select);
      },
   }
</script>

<style lang="scss">
.text-limited {
   white-space: nowrap;
   max-width: 400px;
   overflow: hidden;
   text-overflow: ellipsis;
   padding-right: 20px;
}

</style>