<template>
  <div id="app">
    <Navbar/>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<script>
  import Navbar from '@/components/Navbar'

  export default {
    components: {
      Navbar
    },
  }
</script>

<style>

@import "~materialize-css/dist/css/materialize.min.css";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
  .chips .input {width: 100%!important;}
  textarea.materialize-textarea{
    min-height: 80px;
    resize: vertical;
  }
  .mb-30 {margin-bottom: 30px!important;}

  .col {
    padding-right: 15px;
  }
</style>